@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

// Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Yanone Kaffeesatz', serif;

// Colors
$back-color: #1f1c1b;
$primary-color: #ccc;
$title-color: #cecece;
$color-accent: #41c5c7;
$color-accent-light: #fff;
$gray-darkest: #171615;
$gray-dark: #2e2e32;
$gray: #888;
$gray-light: #ccc;
$gray-lighter: #555;
$yellow: #fffac4;
