// Fonts
$font-primary: 'Crimson Text', sans-serif;
$font-secondary: 'Crimson Text', sans-serif;

// Colors
$color-accent: #3ca8a9;
$gray-darkest: #1d1d1d;
$gray-dark: #333;
$gray: #666;
$gray-light: #aaa;
$gray-lighter: #eee;
$yellow: #fffac4;
